<!DOCTYPE html>
<html>
<head>
    <title>IsItWhack<% if( locals.header ) { %>: <%= locals.header %><% } %></title>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="styles/reset.css" rel="stylesheet" type="text/css" />
    <link href="styles/style.css" rel="stylesheet" type="text/css" />

    <% if( locals.scripts ) { %>
        <% locals.scripts.forEach( function( script ) { %>
            <script src="<%= script %>" type="text/javascript"></script>
        <% } ); %>
    <% } %>
</head>
<body>
