<% locals.header = locals.rateable.name %>
<% locals.scripts = [ 'javascript/search_result.js', 'javascript/not_found.js' ] %>
<%= include templates/header %>

<div id="search_main">
    <div id="search_main_row">
        <div id="search_main_middle">
            <div id="search_main_inner">
                <h2>Huh, doesn't look like we have that one.</h2>
                <h2> Why don't you tell me what you think about <span class="underlined" id="rateable_name"><%= locals.rateable.name %></span>?</h2>
                <h2 id="search_vote_text"><span id="search_vote_up" class="vote_up">Not Whack</span> or <span id="search_vote_down" class="vote_down">Whack</span></h2>
            </div>
        </div>
    </div>
</div>

<%= include templates/footer %>