<% locals.header = locals.rateable.name %>
<% locals.scripts = [ 'javascript/search_result.js' ] %>
<%= include templates/header %>

<div id="search_main">
    <div id="search_main_row">
        <div id="search_main_middle">
            <div id="search_main_inner">
                <h1><a <% if( locals.rateable.link ) { %>class="underlined" href="<%= locals.rateable.link %>"<% } %>><%= locals.rateable.name %></a> <% if( locals.rateable.computed_votes > 0 ) { %>is not whack<% } else { %>is whack<% } %></h1>
            </div>
        </div>
    </div>
    <div id="search_main_row">
        <div id="search_main_bottom">
            <img id="search_down_arrow" src="images/down_arrow.png" />
        </div>
    </div>
</div>
<div id="search_after">
    More Information About Rateable goes here
</div>

<%= include templates/footer %>